<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A modern and responsive login authentication system developed with HTML, CSS, JavaScript, and Flask. Features a clean user interface and backend form handling.">
    <meta name="author" content="kanha thakur">
    <title>login page</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="content">
        <form action="/login" method="post">
            <h2>Login</h2>
            <div class="input-box">
                <input type="email" name="email" placeholder="email" required>
                <i class="ri-user-fill"></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required autocomplete="new-password">
                <i class="ri-lock-fill toggle-password" id="togglePassword"></i>
            </div>
            <div class="remember">
                <label><input type="checkbox"/>Remember me</label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="btnn">Login</button>
            <div class="button">
                <a href="#"> <i class="ri-google-fill"></i>Google</a>--<a href="#"> <i class='ri-facebook-fill'></i>Facebook</a>
            </div>
        </form>
    </div>
</body>
</html>